<div class="d-flex flex-column width-full flex-items-baseline pt-2 pb-2">
    <div class="feed-item-content d-flex flex-column pt-2 pb-2 border-custom color-border-default rounded-2 color-shadow-small width-full height-fit">
        <div class="rounded-2 py-1">
            <div class="px-3">
                <header class="mt-1 mb-2 width-full d-flex flex-justify-between">
                    <div class="mr-2">
                        <div class="position-relative">
                            <a href="" class="Link d-block">
                                <img src="avatars/1.png" alt="" class="feed-item-user-avatar avatar circle box-shadow-none">
                            </a>
                        </div>
                    </div>
                    <div class="flex-1 ml-1 mb-1">
                        <h3 class="h5 text-normal color-fg-muted d-flex flex-items-center flex-row flex-nowrap width-fit">
                            <span>
                                <a href="" class="boold">nole23</a>
                                 contributed to
                            </span>
                            <span>
                                <a href="" class="boold"> nole23/UKS-2024</a>
                            </span>
                        </h3>
                        <div class="d-flex">
                            <h4 class="h6 text-small text-normal color-fg-muted">
                                December 9, 2024 17:11
                            </h4>
                        </div>
                    </div>
                </header>
            </div>
            <div class="mt-1 mb-1">
                <div class="px-3">
                    <div>
                        <h3 class="lh-condensed mt-2 mb-2">
                            <a href="" class="Link--primary Link text-bold">
                                Release/1.0.0/uks
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>