
  <!-- Header (Nav bar) -->
  <header class="header">
    <nav>
      <ul style="float: left; width: 100%;">
        <li style="float: left; width: 85%;"><a href="/auth" class="logo"><img src="github-mark-white.svg" width="33px" height="33px" alt=""></a></li>
        <li style="float: right;"><a href="/auth/login" type="button" class="btn text-white">Sign in</a></li>
        <li style="float: right;"><a href="/auth/singup" type="button" class="btn btn-outline-secondary text-white">Sign up</a></li>
      </ul>
    </nav>
</header>