<div class="color-bg-default full-screen">
    <div class="d-md-flex feed-background full-screen">
        <app-sider-bar-left></app-sider-bar-left>
        <div class="flex-auto col-md-8 col-lg-8 px-3 px-sm-3 px-md-0">
            <div class="d-md-flex ">
                <div class="mt-4 d-flex feed-content flex-justify-center">
                    <div class="overflow-x-hidden d-flex flex-auto flex-column feed-main">
                        <div class="d-flex flex-justify-between flex-items-center">
                            <h2>Home</h2>
                        </div>
                        <div>
                            <app-article></app-article>
                        </div>
                    </div>
                    <app-aside></app-aside>
                </div>
            </div>
        </div>
    </div>
</div>