<div class="container">
    <div class="login-box">
      <img src="github-mark-white.svg" alt="" width="48px" height="48px">
      <h1>Enter new password for Github account</h1>

      <span *ngIf="isErrorSaved" class="error">Not saved new password. Try again.</span>
      <div class="forms" [ngClass]="{ 'border-error' : isErrorSaved }">
        <form action="#">
          <div class="textbox">
            <label [ngClass]="{ 'error' : isPassword1 }">Enter new password <span *ngIf="isPassword1">is not correctly.</span></label>
            <input type="password" class="from-controll" [ngClass]="{ 'border-error' : isPassword1 }" id="password1" [(ngModel)]="password1" placeholder="Enter new password" name="password1" required>
          </div>
          <div class="textbox">
            <label [ngClass]="{ 'error' : isPassword2 }">Repeat password <span *ngIf="isPassword2">is not correctly.</span> <span *ngIf="isPasswordMatch">does not match.</span></label>
            <input type="password" class="from-controll" [ngClass]="{ 'border-error' : isPassword2 || isPasswordMatch }" id="password2" [(ngModel)]="password2" placeholder="Repeat password" name="password1" required>
          </div>
          <button type="submit" class="btn btn-success btn-submit" (click)="generateNewPassword()">Save new password</button>
        </form>
      </div>

      <div class="forms" style="margin-top: 15px;">
        <span>New to GitHub? <a href="/auth/singup">Create an account</a></span>
      </div>
    </div>
  </div>