<div class="side-panel" [ngClass]="{'open': isOpen}">
    <div class="d-flex pr-3 pl-3 pt-3">
        <div class="d-flex flex-1">
            <div class="d-flex">
                <img src="avatars/1.png" alt="" class="avatars">
                <div class="d-flex lh-condensed f5 mr-auto ml-2 overflow-hidden flex-justify-center flex-column">
                    <div class="text-bold">
                        <div class="cBdrp">nole23</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="image-button" (click)="close()">
            <i class="fa fa-times color-1" aria-hidden="true"></i>
        </button>
    </div>
    <div class="hdShgm DialogOverflowWrapper">
        <div class="hCuruw">
            <ul class="eoXvfR">
                <li class="fuzmy">
                    <div class="jgtoFj">
                        <i class="fa fa-smile-o color-1" aria-hidden="true"></i>
                    </div>
                    <div class="fFwzwX">
                        <span class="jtiCfm">
                            <div>Set status</div>
                        </span>
                    </div>
                </li>
                <li class="hCnIjr"></li>
                <li class="XYFQG">
                    <a href="u/nole23" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Your profile</span>
                        </div>
                    </a>
                </li>
                <li class="XYFQG">
                    <a href="u/nole23/repositories" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Your repositories</span>
                        </div>
                    </a>
                </li>
                <li class="XYFQG">
                    <a href="u/nole23/projects" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Your projects</span>
                        </div>
                    </a>
                </li>
                <li class="hCnIjr"></li>
                <li class="XYFQG">
                    <a href="error" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Try Enterprise</span>
                        </div>
                    </a>
                </li>
                <li class="XYFQG">
                    <a href="error" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Feature preview</span>
                        </div>
                    </a>
                </li>
                <li class="XYFQG">
                    <a href="u/nole23/settings" class="cQdyWD">
                        <span class="jgtoFj">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Settings</span>
                        </div>
                    </a>
                </li>
                <li class="hCnIjr"></li>
                <li class="XYFQG">
                    <a style="cursor: pointer;" class="cQdyWD" (click)="logout()">
                        <span class="jgtoFj">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </span>
                        <div class="fFwzwX">
                            <span class="jtiCfm">Sign out</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
