<div class="container">
    <div class="login-box">
      <img src="github-mark-white.svg" alt="" width="48px" height="48px">
      <h1>Restart password for GitHub account</h1>

      <span *ngIf="isErrorSend" class="error">Email is not correct.</span>
      <div class="forms" [ngClass]="{ 'border-error' : isErrorSend }">
        <form action="#">
          <div class="textbox">
            <label [ngClass]="{ 'error' : isError }">Enter email <span *ngIf="isError">is not correctly.</span></label>
            <input type="text" class="from-controll" [ngClass]="{ 'border-error' : isError }" id="emial" [(ngModel)]="email" placeholder="Enter email" name="email" required>
          </div>
          <button type="submit" class="btn btn-success btn-submit" (click)="restartPassword()">Sernd restart code</button>
        </form>
      </div>

      <div class="forms" style="margin-top: 15px;">
        <span>New to GitHub? <a href="/auth/singup">Create an account</a></span>
      </div>
    </div>
  </div>