<div class="feed-left-sidebar h-100 col-md-4 col-lg-3 color-border-muted border-bottom hide-md hide-sm border-right color-bg-default">
    <div class="dashboard-sidebar">
        <div class="top-0 px-4 overflow-y-auto pt-3 d-flex flex-column">
            <div class="py-3 mb-2">
                <div class="d-flex flex-items-center gap-2">
                    <img src="avatars/1.png" alt="" class="avatar">
                    <span>nole23</span>
                </div>
            </div>
            <app-loading-context></app-loading-context>
        </div>
    </div>
</div>