<div class="loading-context position-relative height-full">
    <div>
        <div class="hide-sm hide-md mb-1 d-flex flex-justify-between flex-items-center">
            <h2 class="f5" style="bottom: -16px; position: relative;">Top repositories</h2>
            <a href="" class="Button--primary Button--small Button"><span><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span> New</a>
        </div>
        <div class="mt-2 mb-3">
            <input type="text" class="form-control input-contrast input-block mb-3" placeholder="Find a repository...">
        </div>
        <ul class="list-style-none">
            <li class="public source no-description">
                <div class="width-full d-flex mt-2">
                    <a href="u/nole23">
                        <img src="avatars/1.png" style="border-radius: 50%; width: 15px; margin-right: 15px;" alt="">
                    </a>
                    <div>
                        <a href="error" style="color: #fff; text-decoration: none;" class="">
                            <span>nole23</span> <span>/</span> <span>projekat1</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>